<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.obcerver.iamhere"
          android:versionCode="1"
          android:versionName="1.0">
    
    <!-- Min Sdk 16 Support (4.1.2) -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"
        />    

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!-- Theme Holo Light -->
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/android:Theme.Holo.Light"
                 android:name="com.obcerver.iamhere.lib.CApplication">

        <!-- google play service -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"
                   />            
    
        
        
        <!-- Main Activity  -->
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>

        <!-- Register Service -->
        
        <!-- triggered by geofence -->
        <service
            android:name="com.obcerver.iamhere.manager.GeofenceTransitionIntentService"
            />
        
        <!-- triggered by enter/leave -->
        <service
            android:name="com.obcerver.iamhere.manager.UpdateService"
            />
        
    </application>
</manifest>
